---
layout: post
date: 2024-02-09 15:59:00-0400
inline: true
related_posts: false
---

[Eliad Tsfadia](https://sites.google.com/view/eliadtsfadia) new result titled [On Differentially Private Subspace Estimation Without Distributional Assumptions](https://arxiv.org/abs/2402.06465) is out
