---
layout: post
date: 2024-02-09 15:59:00-0400
inline: true
related_posts: false
---

Huck Bennett, [Karthik Gajulapalli](https://kgajulapalli.org), [Alexander Golovnev](https://golovnev.org), Philip G. Warton. new result titled [Matrix Multiplication Verification Using Coding Theory.](https://eccc.weizmann.ac.il/report/2023/193/) is out
